<p>{{ isEditable }}</p>
<div class="add-record-container">
  <!-- <h2>{{ isEditMode ? "Edit Record" : "Add New Record" }}</h2> -->
  <h2 *ngIf="isEditable">Edit Record</h2>
  <h2 *ngIf="!isEditable">Add New Record {{ isEditable }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addRecordForm" novalidate>
    <!-- <input type="hidden" id="_id" formControlName="_id" /> -->
    <div class="add-record-container">
      <h2>Add New Record</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="addRecordForm" novalidate>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            type="text"
            id="firstname"
            formControlName="firstname"
            required
          />
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            type="text"
            id="lastname"
            formControlName="lastname"
            required
          />
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" id="country" formControlName="country" required />
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" id="state" formControlName="state" required />
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city" required />
        </div>

        <!-- <div class="form-group">
          <label for="image">Image</label>
          <input
            type="file"
            id="image"
            (change)="onImageSelected($event)"
            accept="image/*"
          />
        </div>
        <div class="image-preview">
          <img [src]="imagePreview" alt="Selected Image" />
        </div> -->
        <div class="form-actions">
          <button type="submit" [disabled]="addRecordForm.invalid">
            Add Record
          </button>
          <button type="button" (click)="cancelEdit()">Close</button>
        </div>
      </form>
    </div>
    <!-- <div class="form-actions">
      <button type="submit" [disabled]="addRecordForm.invalid">
        {{ isEditMode ? "Save Changes" : "Add Record" }}
      </button>
      <button type="button" (click)="cancelEdit()" *ngIf="isEditMode">
        Cancel
      </button>
    </div> -->
  </form>
</div>
